.body {
  margin-top: 80px;
  .input {
    width: 100vw;
    text-align: center;
  }
  .content {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;

    .searchHistory {
      width: 30%;
      position: sticky;
      top: 1000px;
      margin-left: 40px;
    }
    .list {
      width: 70%;
      text-align: center;
    }
  }
}
